@import "swayosd.css";

window#osd {
  border-radius: 20px;
  opacity: 0.88;
  padding: 12px 10px;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
  padding-left: 5px;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

window#osd trough,
window#osd progress,
window#osd segment,
window#osd segment.active {
  min-height: inherit;
}

progress {
  background-color: @progress;
}
