@import url("arrowline-widgets.css");
@import url("theme.css");

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	box-shadow: none;
	text-shadow: none;
	icon-shadow: none;
}

#waybar {
	background: @background-alpha;
	color: @background;
	font-family: "JetBrainsMono Nerd Font", "JetBrainsMono Nerd Font", "Symbols Nerd Font Mono";
	font-size: 14pt;
}

window#waybar {
    transition: margin-top 2s cubic-bezier(.23,1,.32,1), opacity 2s ease;
}

window#waybar.hidden {
    margin-top: -30px;
    opacity: 0;
}

tooltip {
  background: @background-gray;
  border: 1px solid @foreground;
  border-radius: 12px;
}

tooltip label {
  color: @foreground;
  padding: 6px;
}

#battery,
#clock,
#network,
#wireplumber,
#temperature,
#custom-wallpapers,
#custom-menu,
#custom-power,
#custom-bluetooth,
#tray {
	padding-left: 12pt;
	padding-right: 12pt;
}

#workspaces {
  padding-right: 5pt;
  background: @background;
}

#workspaces button {
  margin: 4px 10px;
  font-size: 8pt;
	color: transparent;
  border-radius: 20pt;
	background: @background;
  border: 2px solid @primary;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: transparent;
  border: 2px solid @primary; 
  border-radius: 20pt;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
	background: linear-gradient(135deg, @blue 5%, @magenta 50%, red 100%);
}

#workspaces button.empty {
	color: transparent;
  border: 2px solid @muted;
}

#workspaces button.special {
  color: @foreground;
}

#workspaces button.special.active {
  color: transparent;
  transition: all 0.3s ease-in-out;
}

#workspaces button label {
  padding-right: 3px;
}

#window {
	margin-right: 12pt;
	margin-left: 12pt;
	color: @foreground;
}

#wireplumber {
	background: @sound;
}

#network {
	background: @network;
}

#battery {
  background: @battery;
}

#custom-wallpapers {
	background: @wallpaper;
}


#tray {
	background: @date;
}

#clock.date {
	background: @date;
	color: @background;
}

#clock.time {
	background: @time;
	color: @background;
}

#custom-arrow1 {
	font-size: 16pt;
	color: @menu;
	background: @wallpaper;
}

#custom-arrow2 {
	font-size: 16pt;
	color: @wallpaper;
	background: @time;
}

#custom-arrow3 {
	font-size: 16pt;
	color: @time;
	background: @battery;
}

#custom-arrow4 {
	font-size: 16pt;
	color: @battery;
	background: @network;
}

#custom-arrow5 {
	font-size: 16pt;
	color: @network;
	background: @sound;
}

#custom-arrow6 {
	font-size: 16pt;
	color: @sound;
	background: @bluetooth;
}

#custom-arrow7 {
	font-size: 16pt;
	color: @bluetooth;
	background: transparent;
}

#custom-arrow10 {
	font-size: 16pt;
	color: @background-alt;
	background: @foreground;
}

#custom-arrow11 {
	font-size: 16pt;
	color: @foreground;
	background: transparent;
}

#custom-arrow0 {
  font-size: 16pt;
  color: @power;
  background: @menu;
}

#custom-menu {
  background: @menu;
}

#custom-power {
  background: @power;
}

#custom-bluetooth {
  background: @bluetooth;
  padding-right: 6pt;
}
