@import url("theme.css");

* {
	border: none;
	border-radius: 0;
	font-family: "CaskaydiaMono Nerd Font";
	font-size: 16px;
	min-height: 0;
}

window#waybar {
	background: @background-alpha;
	color: @foreground;
	border-radius: 0 0 20px 20px;
	border: solid 1px @background-alt;
	border-top: 0;
}

button {
	margin: 3px;
	padding: 3px;
}

tooltip {
	background: @background-alt;
	border: 1px solid @primary;
	color: @green;
	border-radius: 4px;
}

#workspaces {
	margin: 8px 0 8px 3px;
	padding: 0 10px 0 5px;
	background: @background-alt;
	border-radius: 30px;
}

#custom-cava {
  margin: 8px 0px 8px 15px;
  padding: 0 15px;
  background: @background-alt;
  border-radius: 30px;
  color: @foreground;
}

#workspaces button {
	min-width: 0;
	background: transparent;
  color: @primary;
}

#workspaces button.active {
	color: @primary;
}

#workspaces button.empty {
	min-width: 0;
	background: transparent;
	color: @muted;
}

#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-weather {
	padding: 0 10px;
}

#custom-launcher,
#custom-update {
	padding: 0 25px;
	font-size: 24px;
	color: @blue;
}

#custom-update {
  padding-left: 0;
  margin-left: 0;
  padding-right: 30px;
}

#custom-info,
#custom-music,
#custom-power {
	padding: 0 15px;
	color: @bright-magenta;
	font-size: 20px;
}

#custom-info {
	padding-left: 20px;
}

#pulseaudio {
	color: @cyan;
}

#network {
	color: @green;
}

#cpu {
	color: @yellow;
}

#memory {
	color: @cyan;
}

#date,
#utils,
#monitor,
#workspaces button {
	margin: 8px 0;
	padding: 0 10px;
	background: @background-alt;
	color: @green;
	border-radius: 30px;
}

#utils {
  margin-right: 15px;
}

#monitor {
	margin-right: 15px;
}

#battery,
#network,
#pulseaudio,
#cpu,
#memory {
	font-size: 13px;
}

#battery {
	color: @magenta;
}

#battery.charging {
	color: @green;
}
