@import '/home/dxle/.config/themes/current/ward.css';

* {
    font-family: "Liberation Sans";
}

NotificationPopup {
    background: transparent;
    --notification-card-padding: 10px 10px 10px 10px;
    --notification-card-gap: 12px;
}

QFrame#notificationCard {
    background-color: var(--background);
    border: 2px solid var(--border-color);
    padding: 0;
    border-radius: 0;
}

QLabel#summaryLabel {
    color: var(--text-color);
    font-size: 11pt;
    font-weight: 700;
}

QLabel#bodyLabel {
    color: var(--text-color);
    font-size: 11pt;
    line-height: 1.35em;
}

QLabel#iconLabel {
    min-width: 0px;
}
